@model ProductVM

<div class="col-2 pb-3 mt-2 pt-3 text-right">
    <a asp-action="DetailsProduct" class="btn btn-warning border-0 form-control">Добавить товар</a>
</div>

<div class="">
    <h5>Всего товаров: @Model.ProductsList.Count()</h5>
</div>

<div class="container-fluid">
    <div class="row pb-5 mb-5 mb-2">
        @if (Model.ProductsList != null)
            @foreach (var product in Model.ProductsList)
            {
                <div class="col-lg-2 col-sm-2">
                    <div class="row p-1 mt-2" style="height: 100%">
                        <div class="col-12">
                            <div class="card card-deck border-0 p-1 shadow mx-auto h-100">
                                <img src="@product.ImageURL" class="card-img" />
                                <div class="card-body border-light ">
                                    <div class="card-body mt-auto mt-2">
                                        <div class="">
                                            <p class="card-title text-black"><b>@product.Name</b></p>
                                        </div>
                                        <div class="">
                                            <p class="card-title text-dark opacity-75"><b>@product.Author</b></p>
                                        </div>
                                        @if (Model.CategoriesList != null)
                                        {
                                            var category = Model.CategoriesList.FirstOrDefault(c => c.Id == product.Category);
                                            if (category != null)
                                            {
                                                <div class="pl-1">
                                                    <p class="text-dark text-opacity-75  mb-0">@category.Name</p>
                                                </div>
                                            }
                                        }
                                        <div class="">
                                            <p class="text-dark h4 text-center mb-0">@product.Price ₽</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent">
                                    <div class="text-center">
                                        <a class="btn btn-success mb-3 bi bi-pencil-square" asp-area="Admin" asp-controller="Product" asp-action="DetailsProduct" asp-route-productId="@product.ProductId"></a>
                                    </div>
                                    <div class="text-center">
                                        <a class="btn btn-danger mb-3 bi bi-trash" onclick="deleteProduct(@product.ProductId)"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>

@section Scripts{
    <script src="/js/Admin/Product.js"></script>
}