@inject ApplicationDbContext DB
@{
    var db = DB;
}

@model Order


<div class="container mb-5">
    <div class="row justify-content-center ">
        <div class="col-sm-8 col-md-6 col-lg-5">
            <h3 class="text-center">Информация о доставке</h3>
            <form method="post" enctype="multipart/form-data">
                <input asp-for="UserId" hidden />
                <input asp-for="PurchaseAmount" hidden />
                <input asp-for="ReceiverName" hidden />
                <input asp-for="ReceiverLastName" hidden />
                <input asp-for="PhoneNumber" hidden />
                <input asp-for="isCourierDelivery" hidden />
                <hr />
                @if (Model.isCourierDelivery == false)
                {
                    <div>
                        <h6>
                            Доставка в пункт выдачи
                        </h6>
                        <div>
                            <div>
                                <label>Выберите город</label>
                                <select class="rounded mt-1">
                                    @foreach (var city in db.OrderPickupPoint.Distinct())
                                    {
                                        <option value="">@city.City</option>
                                    }
                                </select>
                            </div>
                            <div>
                                <label>Выберите пункт выдачи</label>
                                <select class="rounded mt-1">
                                    @foreach (var city in db.OrderPickupPoint.Distinct())
                                    {
                                        <option value="">@city.Street</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="m-4">
                        <h6>
                            Доставка курьером
                        </h6>
                        <div class="form-group">
                            <label class="ms-1 my-1 text-dark">Город</label>
                            <input asp-for="@db.User.Find(Model.UserId).City" class="form-control border-0 shadow" />
                            <span asp-validation-for="@db.User.Find(Model.UserId).City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="ms-1 my-1 text-dark">Улица</label>
                            <input asp-for="@db.User.Find(Model.UserId).Street" class="form-control border-0 shadow" />
                            <span asp-validation-for="@db.User.Find(Model.UserId).Street" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="ms-1 my-1 text-dark">Номер дома</label>
                            <input asp-for="@db.User.Find(Model.UserId).HouseNumber" class="form-control border-0 shadow" />
                            <span asp-validation-for="@db.User.Find(Model.UserId).HouseNumber" class="text-danger"></span>
                        </div>
                    </div>
                }
                <div>
                    <button asp-area="Purchase" asp-controller="Purchase" asp-action="Payment"
                            type="submit" class="btn btn-primary w-100 mt-3 mb-5">
                        Оплатить
                    </button>
                </div>
            </form>
        </div>
        <hr />
    </div>
</div>


