@inject ApplicationDbContext DB
@{
    var db = DB;
}

@model OrderVM

@if (Model != null)
{
    <div class="container m-4">

        <div>
            <h3>@Model.OperationName</h3>
        </div>


        <div class="form-group border border-1 rounded rounded-1 p-4">
            <div class="d-inline-flex align-items-center">
                <span class="mr-3">Номер заказа: </span>
                <div class="rouden rounded-1 text-bg-primary m-1">
                    @Model.Order.OrderId
                </div>
            </div>
            <div class="d-inline-flex align-items-center">
                <span class="mr-3">Статус заказа: </span>
                <div class="rouden rounded-1 text-bg-primary m-1">@Model.Order.OrderStatus</div>
            </div>

            <div>
                <label>Дата и время заказа: @Model.Order.PurchaseDate по МСК</label>
            </div>

            @{
                IEnumerable<ProductData>
                productsData = JsonConvert.DeserializeObject<IEnumerable<ProductData>>(@Model.Order.ProductData);
            }
            @{
                int countProduct = 0;
                int sumPrice = 0;
            }

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Название</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Количество</th>
                    </tr>
                </thead>
                @foreach (ProductData product in productsData)
                {
                    <tbody class="table-group-divider">
                        <tr>
                            <td>@product.ProdId</td>
                            <td>
                                <a class="" asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-productId="@product.ProdId">
                                    @db.Books.Find(product.ProdId).Title
                                </a>
                            </td>
                            <td>@product.Price</td>
                            <td>@product.Count</td>
                            @{
                                countProduct += product.Count;
                                sumPrice += product.Count * product.Price;
                            }
                        </tr>
                    </tbody>
                }
            </table>
            <div>
                <label>Количество товаров: @countProduct</label>
                <label class="m-3">Стоимость: @sumPrice</label>
            </div>
            <div class="form-group">
                <label>Оплачено:</label>
                <label>@Model.Order.PurchaseAmount</label>
            </div>
            <div>
                Доставка:
                @if (@Model.Order.isCourierDelivery == true)
                {
                    <label> Курьером</label>
                    <div class="form-group">
                        Адрес доставки:
                        @Model.Order.DeliveryAddress
                    </div>
                }
                else
                {
                    <label> В пункт выдачи</label>
                }
                <div class="form-group">
                    Данные получателя:
                    @Model.Order.ReceiverName
                    @Model.Order.RecipientsLastName
                    @Model.Order.PhoneNumber
                </div>
            </div>
            <form method="post" enctype="multipart/form-data">
                <input asp-for="@Model.Order.ConfirmationСode" class="form-control border-0 shadow" />
                <label class="ms-1 my-1 text-dark">Введите код для получения</label>
                <span asp-validation-for="@Model.Order.ConfirmationСode" class="text-danger"></span>
            </form>
        </div>
        <hr class="mt-5 mb-5" />

    </div>
}