@model BookVM

<div class="container-fluid">
    <div class="row pb-5 mb-5 mb-2">
        @if (Model.BooksList != null)
            @foreach (var book in Model.BooksList)
            {
                <div class="col-lg-2 col-sm-2">
                    <div class="row p-1 mt-1" style="height: 100%">
                        <div class="col-12">
                            <div class="card card-deck border-0 p-1 shadow mx-auto h-100">
                                <img src="@book.ImageURL" class="card-img" />
                                <div class="card-body border-light ">
                                    <div class="card-body mt-auto mt-2">
                                        <div class="">
                                            <p class="card-title text-black"><b>@book.Title</b></p>
                                        </div>
                                        <div class="">
                                            <p class="card-title text-dark opacity-75"><b>@book.Author</b></p>
                                        </div>
                                        @if (Model.CategoriesList != null)
                                        {
                                            var category = Model.CategoriesList.FirstOrDefault(c => c.Id == book.Category);
                                            if (category != null)
                                            {
                                                <div class="pl-1">
                                                    <p class="text-dark text-opacity-75  mb-0">@category.Name</p>
                                                </div>
                                            }
                                        }
                                        <div class="">
                                            <p class="text-dark h4 text-center mb-0">@book.Price ₽</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent">
                                    <div class="row">
                                        <div style="display: flex; align-items: center;">
                                            <a asp-controller="Home" asp-action="Details" asp-route-productId="@book.BookId" class="btn" style="width: 56px; height: 40px;">
                                                <i class="bi bi-three-dots"></i>
                                            </a>

                                            @if (Model.User == null)
                                            {
                                                <a asp-area="Identity" asp-controller="User" asp-action="LogIn" class="btn" style="width: 56px; height: 40px;">
                                                    <i class="bi bi-heart"></i>
                                                </a>


                                                <a asp-area="Identity" asp-controller="User" asp-action="LogIn" class="btn bi-cart" style="width: 56px; height: 40px;">
                                                </a>
                                            }
                                            else
                                            {
                                                if (Model.WishList != null && Model.WishList.ProductId != null)
                                                {
                                                    List<int> productListID = Model.WishList.ProductId.Split('|').Select(int.Parse).ToList();
                                                    <div>
                                                        <div id="btnWishList_@book.BookId">
                                                            @if (productListID.Contains(book.BookId))
                                                            {
                                                                <button type="submit" onclick="removeFromWishlist(event,@book.BookId)"
                                                                        class="btn btn-outline-danger bi-heart-fill" style="width: 56px; height: 40px;">
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                <button type="submit" onclick="addToWishlist(event,@book.BookId)"
                                                                        class="btn bi-heart" style="width: 56px; height: 40px;">
                                                                </button>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div id="btnWishList_@book.BookId">
                                                        <button type="submit" onclick="addToWishlist(event,@book.BookId)" class="btn btn bi-heart" style="width: 56px; height: 40px;">
                                                        </button>
                                                    </div>
                                                }


                                                if (Model.ShoppingBasket != null && Model.ShoppingBasket.ProductIdAndCount != null)
                                                {                                                    
                                                    <div>
                                                        <div id="btnShoppingBasket_@book.BookId">
                                                            @if (Model.ShoppingBasket.ProductIdAndCount.ContainsKey(book.BookId))
                                                            {
                                                                <a asp-area="Customer" asp-controller="ShoppingBasket" asp-action="Index"
                                                                        class="btn btn-outline-success bi-cart-check" style="width: 56px; height: 40px;">
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <button type="submit" onclick="addToShoppingBasket(event,@book.BookId)"
                                                                        class="btn bi bi-cart" style="width: 56px; height: 40px;">
                                                                </button>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div id="btnShoppingBasket_@book.BookId">
                                                        <button type="submit" onclick="addToShoppingBasket(event,@book.BookId)"
                                                                class="btn bi bi-cart" style="width: 56px; height: 50px;">
                                                        </button>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>


@section Scripts{
    <script src="~/js/Customer/WishList.js"></script>
    <script src="~/js/Customer/ShoppingBasket.js"></script>
}