@inject ApplicationDbContext DB
@{
    var db = DB;
}

@inject IHttpContextAccessor HttpContextAccessor
@{
    var httpContext = HttpContextAccessor.HttpContext;
    User? user = null;
    if (httpContext.Session.GetInt32("Username") != null)
    {
        int? userId = httpContext.Session.GetInt32("Username");
        if ((userId != null) && (db.User.Find(userId) != null))
        {
            user = db.User.Find(userId);
        }
    }
}


@model BookVM

<div class="container-fluid">
    <div class="row pb-5 mb-5 mb-2">
        @if (Model.BooksList != null)
            @foreach (var book in Model.BooksList)
            {
                <div class="col-lg-2 col-sm-2">
                    <div class="row p-2 mt-1" style="height: 100%">
                        <div class="col-12">
                            <div class="card card-deck border-0 p-1 shadow mx-auto h-100">
                                <img src="@book.ImageURL" class="card-img" />
                                <div class="card-body border-light ">
                                    <div class="card-body mt-auto mt-2">
                                        <div class="">
                                            <p class="card-title text-black"><b>@book.Title</b></p>
                                        </div>
                                        <div class="">
                                            <p class="card-title text-dark opacity-75"><b>@book.Author</b></p>
                                        </div>
                                        @if (Model.CategoriesList != null)
                                        {
                                            var category = Model.CategoriesList.FirstOrDefault(c => c.Id == book.Category);
                                            if (category != null)
                                            {
                                                <div class="pl-1">
                                                    <p class="text-dark text-opacity-75  mb-0">@category.Name</p>
                                                </div>
                                            }
                                        }
                                        <div class="">
                                            <p class="text-dark h4 text-center mb-0">@book.Price ₽</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent">
                                    <div class="row">
                                        <form method="post">
                                            <div class="col-0">
                                                <a asp-controller="Home" asp-action="Details" asp-route-productId="@book.BookId"
                                                   class="btn btn-primary border-0 ">
                                                    <i class="bi bi-three-dots"></i>
                                                </a>
                                            </div>
                                            <div class="col-0">
                                                @if (db.WishLists.Where(u=>u.UserId == user.UserId).Where(u=>u.ProductId==book.BookId) != null)
                                                {
                                                    <button type="submit" asp-area="Customer" asp-controller="Wishlist" asp-action="AddWishList"
                                                            asp-route-productId="@book.BookId" class="btn btn-warning border-0">
                                                        <i class="bi bi-bookmark-check-fill"></i>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button type="submit" asp-area="Customer" asp-controller="Wishlist" asp-action="AddWishList"
                                                            asp-route-productId="@book.BookId" class="btn btn-warning border-0">
                                                        <i class="bi bi-bookmark-plus"></i>
                                                    </button>
                                                }          
                                            </div>
                                            <div class="col-0">
                                                <button type="submit" asp-area="Customer" asp-controller="ShoppingBasket" asp-action="AddBasket"
                                                        asp-route-productId="@book.BookId" class="btn btn-success border-0">
                                                    <i class="bi bi-bag-plus"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>
