@using Microsoft.AspNetCore.Identity

@inject SignInManager<MinotaurUser> SignInManager
@inject UserManager<MinotaurUser> UserManager

@model Product

<div class="container">
    <div id="productData">
        <div>
            <h1>@Model.Author : @Model.Name</h1>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="@Model.ImageURL" alt="Image" class="rounded rounded-1 col-12" />
            </div>
            <div class="col-2 p-1 bg-body-tertiary rounded rounded-1">
                <div>
                    Автор: @Model.Author
                </div>
                <div>
                    Издательство: Piter
                </div>
                <div>
                    ISBN:@Model.ISBN
                </div>
                <div>
                    Id товара: @Model.ProductId
                </div>
                <hr class="col-12 mt-1 mb-1" />
                <div>
                    @if (User.Identity.IsAuthenticated  == true)
                    {
                        <div id="btnWishList_@Model.ProductId">
                            @if (ViewBag.inWishlist == false)
                            {
                                <button onclick="addToWishlist(@Model.ProductId)" class="btn btn-outline-danger border-1 btn bi-heart mt-1 mb-2" style="width: 100%; height: 40px;">
                                </button>
                            }
                            else
                            {
                                <button onclick="removeFromWishlist(@Model.ProductId)" class="btn btn-outline-danger border-1 btn bi bi-heart-fill mt-1 mb-2" style="width:100%; height: 40px;">
                                </button>
                            }
                        </div>

                        <div id="btnShoppingBasket_@Model.ProductId">
                            @if (ViewBag.inBasket == false)
                            {
                                <button onclick="addToShoppingBasket(@Model.ProductId)" class="btn btn-outline-success border-1 bi bi-bag" style="width: 100%; height: 40px;">
                                </button>
                            }
                            else
                            {
                                <button onclick="removeFromShoppingBasket(@Model.ProductId)" class="btn btn-outline-success border-1 bi bi-bag-check-fill" style="width:100%; height: 40px;">
                                </button>
                            }
                        </div>
                    }
                    else
                    {
                        <button onclick="informAboutNeedToLogin()" class="btn btn-outline-danger border-1 btn bi-heart mt-1 mb-2" style="width: 100%; height: 40px;">
                        </button>
                        <button onclick="informAboutNeedToLogin()" class="btn btn-outline-success border-1 bi bi-bag" style="width:100%; height: 40px;">
                        </button>
                    }
                </div>
            </div>
            <div class="col-5">
                <div id="productRatingl">
                    Рейтинг: @Model.ProductRating из 10
                    <div>
                        @for (int i = 0; i < 10; i++)
                        {
                            if (i < Model.ProductRating)
                            {
                                <i class="bi bi-star-fill"></i>
                            }
                            else
                            {
                                <i class="bi bi-star"></i>
                            }
                        }
                    </div>
                </div>
                <div>
                    @Html.Raw(Model.Description)
                </div>
            </div>
        </div>
    </div>

    <hr />
    <div class="text-dark ">
        Oтзывы
    </div>
    <hr />
    <div class="mb-5 pb-5">
        <div>
        </div>
        <hr />
    </div>
</div>


@section Scripts{
    <script src="~/js/Customer/Details.js"></script>
}